.MenuLink {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 5.21vw;

  a {
    width: 100%;
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 1.04vw;
      height: 1.04vw;
      fill: grey;

      transition: 0.2s ease-in-out;
    }
    &:hover {
      svg {
        fill: blue;
      }
    }
  }
}
