* {
  margin: 0;
  padding: 0;
}
html {
  min-height: 100vh;
}
body {
  height: 100%;
  height: inherit;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}

::-webkit-scrollbar {
  width: 0.52vw;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
  padding: 0.05vw;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 5.21vw;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: grey;
}
